<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62655293862-k0j5qo832gheoqrjc1ogfei0i9pp7g1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62655293862-k0j5qo832gheoqrjc1ogfei0i9pp7g1q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>62655293862-851j1141ghkmg4427efe2au03d7ktpi8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBd_hY-6lMeYBHzOZRjDIKfbOc24uJUSmE</string>
	<key>GCM_SENDER_ID</key>
	<string>62655293862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.senti.app</string>
	<key>PROJECT_ID</key>
	<string>senti-production</string>
	<key>STORAGE_BUCKET</key>
	<string>senti-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62655293862:ios:b44fc0c5acf0b41ff84767</string>
	<key>DATABASE_URL</key>
	<string>https://senti-production.firebaseio.com</string>
</dict>
</plist>
